[buildout]
extends =
  buildout-base.cfg
  baobab-lims-buildout.cfg

extensions =
effective-user = plone
buildout-user = plone
var-dir=/data
user=admin:admin
parts +=
  zeo
  mrbob
  plonesite

eggs +=
  plone.api
  plone.restapi
  plone.app.contenttypes

[client1]
recipe =

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

[instance]
zcml-additional =
  <configure xmlns="http://namespaces.zope.org/zope" xmlns:plone="http://namespaces.plone.org/plone">
  <plone:CORSPolicy
    allow_origin="http://localhost:3000,http://127.0.0.1:3000"
    allow_methods="DELETE,GET,OPTIONS,PATCH,POST,PUT"
    allow_credentials="true"
    expose_headers="Content-Length,X-My-Header"
    allow_headers="Accept,Authorization,Content-Type,X-Custom-Header,Lock-Token"
    max_age="3600"
    />
  </configure>

# Requires gcc, thus install it on image build
[mrbob]
recipe = zc.recipe.egg
eggs =
  mr.bob
  bobtemplates.plone

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = Plone
profiles-initial = Products.CMFPlone:dependencies
profiles =
  plonetheme.sunburst:default
  plone.app.caching:default
  plone.app.contenttypes:plone-content
  plone.restapi:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools =
zc.buildout =

# The following part definition lists the versions picked:
Pillow = 6.2.1
plone.recipe.command = 1.1
plone.recipe.precompiler = 0.6
collective.recipe.backup = 4.0.1
Unidecode = 0.04.16

MarkupSafe = 1.0
bobtemplates.plone = 3.5.1
mr.bob = 0.1.2
regex = 2018.8.29

# Required by:
# bobtemplates.plone==3.5.1
case-conversion = 2.1.0

# Required by:
# bobtemplates.plone==3.5.1
python-slugify = 1.2.6

Products.DocFinderTab = 1.0.5
collective.checkdocs = 0.2
zest.pocompile = 1.4

# Required by:
# bobtemplates.plone==3.5.1
# zest.releaser==6.15.0
colorama = 0.4.0

# plonesite
collective.recipe.plonesite = 1.11.0

#
# Required by: plone.restapi
#
plone.restapi = 5.0.2
plone.api = 1.10.0
more-itertools = 5.0.0
attrs = 19.3.0
configparser = 4.0.2
plone.rest = 1.6.0
plone.schema = 1.2.0
pyrsistent = 0.15.5
zipp = 0.6.0
PyJWT = 1.7.1
contextlib2 = 0.6.0.post1
functools32 = 3.2.3.post2
importlib-metadata = 0.23
jsonschema = 3.1.1
pathlib2 = 2.3.5
scandir = 1.10.0
pytz = 2017.3
zope.interface = 4.1.0
future = 0.17.1
six = 1.11.0
pkginfo = 1.5.0.1